.sidebar {
    background-color: #ffffff;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    transition: 0.5s;
    /* z-index: 1; */
    overflow-x: hidden;
    padding-top: 60px;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar a {
    padding: 4px 4px 4px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #111;
    display: block;
    transition: 0.3s;
}
.openbtn {
    font-size: 40px;
    cursor: pointer;
    background-color: #fff;
    color: #111;
    padding: 10px 15px;
    border: none;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}


