<!-- your template.html file -->

{% load static %}
<html>
<head>
    <title>Nearby Places Search</title>
</head>
<body>
    <label for="latitude">Latitude:</label>
    <input type="text" id="latitude">

    <label for="longitude">Longitude:</label>
    <input type="text" id="longitude">

    <label for="category">Category:</label>
    <input type="text" id="category">

    <label for="search_radius">Search Radius:</label>
    <input type="number" id="search_radius" value="25">

    <label for="max_locations">Max Locations:</label>
    <input type="number" id="max_locations" value="25">

    <button onclick="getNearbyPlaces()">Get Nearby Places</button>
    <div id="jsonOutput"></div>

    <script>
        function getNearbyPlaces() {
            const latitude = document.getElementById('latitude').value;
            const longitude = document.getElementById('longitude').value;
            const category = document.getElementById('category').value;
            const search_radius = document.getElementById('search_radius').value;
            const max_locations = document.getElementById('max_locations').value;
            console.log("Hello")
            fetch(`http://127.0.0.1:8000/search/?latitude=${latitude}&longitude=${longitude}&category=${category}&search_radius=${search_radius}&max_locations=${max_locations}`)
                .then(response => response.json())
                .then(data => {
                    // Handle the JSON data here
                    console.log(data);

                    // For demonstration, display the JSON string in the div with id 'jsonOutput'
                    document.getElementById('jsonOutput').innerText = JSON.stringify(data);
                })
                .catch(error => console.error('Error fetching data:', error));
        }
    </script>
</body>
</html>
