body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.userPreferences {
    width: 30%;
    height: 100vh;
    float: left;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 20px;
}

.mapContainer {
    width: 70%;
    height: 100vh;
    float: left;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 20px;
}


.header {
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-size: 32px;
    height: 64px;
}

.body {
    flex: 1;
    display:flex;
    width: 100%;
}

/* Set a fixed height for the results container to make it scrollable */
.results-container {
    height: 300px; /* Adjust the height as per your requirement */
    overflow: auto; /* This enables the scroll functionality */
    border: 1px solid #ccc; /* Optional: Add a border for aesthetics */
    padding: 10px; /* Optional: Add some padding for better presentation */
}

/* Optional: Style the individual result items for better visibility */
.result-item {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

/* FIXME: left part covering sidebar */
#content {
    width: 100%;
    padding: 16px;
    flex-grow: 1;
    transition: margin-left 0.5s;
    
}

#map {
    width: 100%; 
    height: 100%;
}
